h1 {
    text-align: center;
    letter-spacing: 10px;
}

h5 {
    text-align: center;
    letter-spacing: 0.5px;
}

button {
    background-color: rgb(205, 163, 163);
    border: none;
    color: black;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4caf50;
    width:15em;
}

body{
  font-size: 16px;
  display:grid;
  grid-template-columns: auto;
  justify-content:center ;
  background-color: rgb(199, 198, 198);
}

button:hover {
  background-color: rgb(190, 139, 139);
}

p {
  padding: 20px;
  width: auto;
  letter-spacing: 1px;
  margin:0;
  text-align: center;
}

ul {
  margin: 0;
  align-content: center;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 3px;
}

.pokemon-list {
    list-style: none;
    display: grid;

}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}
